# Configuración del servidor SMTP IONOS
SMTP_HOST=smtp.ionos.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=direcciongeneral@piensaajedrez.com
SMTP_PASS=14100090.Ionos
FROM_EMAIL=No Reply <direcciongeneral@piensaajedrez.com>

# Configuración de Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=30

# Puerto del servidor
PORT=10000

